@tailwind base;
@tailwind components;
@tailwind utilities;

/* Titlebar styles */
#titlebar {
  @apply flex items-center justify-between pl-2 fixed top-0 left-0 right-0 z-50 border-b;
}

.titlebar-actions {
  @apply flex items-center;
}

.titlebar-icon {
  @apply py-0.5 cursor-pointer;
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.titlebar-icon:hover {
  background-color: #383838;
}

#ttb-close:hover {
  @apply bg-red-500 text-gray-100;
}
